---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import sendGrid from '@sendgrid/mail';
sendGrid.setApiKey( import.meta.env.SENDGRID_API_KEY );

if (Astro.request.method === 'POST') {
  try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const message = data.get('message');

    // TODO: Do not forget to do validation and error handling over received data from your contact form.

    // Sending email
    const msg = {
      to: 'juan.alvarez@contravia.co', // Change to your recipient
      from: 'juan.alvarez@contravia.co', // Change to your verified sender
      subject: `Contact form submission from ${name}`,
      text: 'Holi',
    }
    await sendGrid.send(msg).then(() => {
      console.log('Email sent')
    }).catch((error) => {
      console.error(error)
    });

  } catch (error) {
    console.error(error);
  }
}
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Hablemos" description="Algunos formularios son más efectivos que otros, si no te gusta WhatsApp, esta es la mejor forma." />
</div>

<div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
    <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
        <form id="contact-form" class="space-y-8 md:w-full">
            <div class="flex">
                <div class="flex items-center me-4">
                    <input id="inline-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-lime bg-black border-black focus:ring-lime">
                    <label for="inline-radio" class="ms-2 text-base font-medium text-black">Quiero una cerveza con ustedes</label>
                </div>
                <div class="flex items-center me-4 mx-8 md:mx-20">
                    <input id="inline-2-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-lime bg-black border-black focus:ring-lime">
                    <label for="inline-2-radio" class="ms-2 text-base font-medium text-black">Quiero una cotización</label>
                </div>
            </div>
            <div>
                <label for="email" class="block mb-2 text-base font-medium text-black">Email</label>
                <input type="email" id="email" name="email" class="shadow-sm bg-white border text-black text-base rounded-lg focus:ring-black focus:border-black block w-full p-2.5" placeholder="Tu correo" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-base font-medium text-black">Nombre</label>
                <input type="text" id="name" name="name" class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black" placeholder="Tu nombre" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-base font-medium text-black dark:text-gray-400">Cuentanos sobre tu empresa</label>
                <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-base text-black bg-white rounded-lg shadow-sm border focus:ring-black focus:border-black" placeholder="O la cerveza de su preferencia."></textarea>
            </div>
            <button type="submit" class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
                <div class="text-center text-white text-xl font-normal leading-7">Enviar</div>
            </button>
        </form>
    </div>
    <div class="hidden md:grid md:justify-items-end md:w-4/12 md:py-2">
        <img src="./clients/contact.svg" alt="c" width="80%">
    </div>
</div>



  
</Container>