---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="font-oswald font-bold leading-none text-5xl sm:text-6xl md:text-8xl lg:text-9xl">
                <span class="text-[#34E867]">FUELING</span><br>EXPONENTIAL<br>GROWTH
            </h1>
            <p class="font-nunito font-light mt-6 mb-8  text-xl leading-7 sm:mb-12">Impulsamos el crecimiento exponencial a través de soluciones disruptivas que fusionan datos, tecnología y estrategias de adquisición inteligentes.</p>
            <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="https://github.com/manulthanura/Positivus" target="_blank">
                <h2 class="text-center text-xl font-normal leading-7">Hablemos</h2>
            </a>
        </div>
    </div>
    <div class="flex items-center py-5 px-10 md:w-6/12 md:pb-20 md:pt-10">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    <dotlottie-player src="https://lottie.host/6447bf48-bf9b-46df-8667-e1e0b75dd302/E2rIh357oz.json" class="w-500px h-500px sm:w-300px sm:h-300px" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
</div>

<div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/01.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/02.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/03.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/04.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/05.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/06.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
    </div>
</div>
</Container>