---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonios" description="Ellos son prueba de que lo que hacemos y lo que somos" />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="font-nunito items-center justify-center text-white text-sm md:text-lg font-light mb-4">"Con Contravía no solo encontré un aliado para construir mi sitio web, sino un gran proceso estratégico para el crecimiento de mi ecosistema digital que me permitió conocer las oportunidades desde el mundo digital a través de la interacción entre tecnología y marketing."</p>
            <span class="font-oswald text-lime text-base md:text-xl font-medium">Caro Calle<br/></span><span class="font-nunito text-white text-lg font-normal">CEO Tugether</span>
        </div>
    </div>
</div>

</Container>