---
const { title, description} = Astro.props;
---

<div class="font-oswald grid place-items-center gap-5 mb-10 md:flex">
    <span class="py-3 text-4xl sm:text-6xl px-5 font-medium bg-[#34E867] rounded-md">
        {title}
    </span>
    <p class="font-nunito text-xl font-light text-center md:text-start lg:w-2/4">
        {description}
    </p>
</div>